{
  "extends": ["airbnb"],
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["babel-polyfill", "babel-polyfill/dist/polyfill.min.js"],
          ["@", "./src/"]
        ],
        "extensions": [".js", ".jsx"]
      }
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "parser": "babel-eslint"
}
