version: 2.1
orbs:
  cypress: cypress-io/cypress@6.0.0
  coverage-reporter: codacy/coverage-reporter@14.1.0

jobs:
  codacy-coverage-report:
    docker:
      - image: cimg/node:24.11.1
    steps:
      - checkout
      - run: yarn install
      - run: yarn test
      - coverage-reporter/send_report:
          coverage-reports: coverage/clover.xml,coverage/lcov.info
          project-token: 739a3d0b510e48b7850cadf6c5ccf7b5

workflows:
  build:
    jobs:
      - cypress/run:
          install-command: yarn
          start-command: yarn start
          cypress-command: yarn e2e:run
      - codacy-coverage-report
